@{
    Layout = "";
}

<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
<style>
    *,
    *:before,
    *:after {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    body {
        background-color: #080710;
    }

    .background {
        width: 430px;
        height: 520px;
        position: absolute;
        transform: translate(-50%,-50%);
        left: 50%;
        top: 50%;
    }

        .background .shape {
            height: 200px;
            width: 200px;
            position: absolute;
            border-radius: 50%;
        }

    .shape:first-child {
        background: linear-gradient( #1845ad, #23a2f6 );
        left: -80px;
        top: -80px;
    }

    .shape:last-child {
        background: linear-gradient( to right, #ff512f, #f09819 );
        right: -30px;
        bottom: -80px;
    }

    form {
        height: 520px;
        width: 400px;
        background-color: rgba(255,255,255,0.13);
        position: absolute;
        transform: translate(-50%,-50%);
        top: 50%;
        left: 50%;
        border-radius: 10px;
        backdrop-filter: blur(10px);
        border: 2px solid rgba(255,255,255,0.1);
        box-shadow: 0 0 40px rgba(8,7,16,0.6);
        padding: 50px 35px;
    }

        form * {
            font-family: 'Poppins',sans-serif;
            color: #ffffff;
            letter-spacing: 0.5px;
            outline: none;
            border: none;
        }

        form h3 {
            font-size: 32px;
            font-weight: 500;
            line-height: 42px;
            text-align: center;
        }

    label {
        display: block;
        margin-top: 30px;
        font-size: 16px;
        font-weight: 500;
    }

    input {
        display: block;
        height: 50px;
        width: 100%;
        background-color: rgba(255,255,255,0.07);
        border-radius: 3px;
        padding: 0 10px;
        margin-top: 8px;
        font-size: 14px;
        font-weight: 300;
    }

    ::placeholder {
        color: #e5e5e5;
    }

    button {
        margin-top: 50px;
        width: 100%;
        background-color: #ffffff;
        color: #080710;
        padding: 15px 0;
        font-size: 18px;
        font-weight: 600;
        border-radius: 5px;
        cursor: pointer;
    }

    .social {
        margin-top: 30px;
        display: flex;
    }

        .social div {
            background: red;
            width: 150px;
            border-radius: 3px;
            padding: 5px 10px 10px 5px;
            background-color: rgba(255,255,255,0.27);
            color: #eaf0fb;
            text-align: center;
        }

            .social div:hover {
                background-color: rgba(255,255,255,0.47);
            }

        .social .fb {
            margin-left: 25px;
        }

        .social i {
            margin-right: 4px;
        }

    .loading-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity here */
        display: none;
        justify-content: center;
        align-items: center;
        /* Ensure the loading overlay stays on top */
    }

    .loader {
        border: 8px solid #f3f3f3; /* Light grey */
        border-top: 8px solid #3498db; /* Blue */
        border-radius: 50%;
        width: 50px;
        height: 50px;
        animation: spin 2s linear infinite;
    }




        .loader.active {
            display: block;
        }
    .ll {
        height: 15px;
        aspect-ratio: 5;
        display: grid;
        animation: l39-0 1s infinite linear;
    }

        .ll:before,
        .ll:after {
            content: "";
            width: calc(140%/3);
            grid-area: 1/1;
            --_g: no-repeat radial-gradient(farthest-side,#000 94%,#0000);
            background: var(--_g) left, var(--_g) right;
            background-size: calc(300%/7) 100%;
            animation: l39-1 1s infinite linear;
        }

        .ll:after {
            margin-left: auto;
            --s: -1;
        }

    @@keyframes l39-0 {
        0%, 30% {
            transform: rotate(0)
        }

        50%, 100% {
            transform: rotate(.5turn)
        }
    }

    @@keyframes l39-1 {
        30%, 70% {
            transform: translate(calc(var(--s,1)*400%/14))
        }
    }

    .l {
        display: none;
        justify-content: center;
        align-items: center;
        background-color: rgba(0,0,0,0.5);
        height: 700px;
        width: 100%;
        position: absolute;
        top: 0;
        z-index: 9999;
    }
</style>

<body>
    @if (TempData["changepass"] != null)
    {
        <div style=" height: 40px; width: 20%; background-color: #d5d507; margin: 10px 10px; display: flex; justify-content: center; align-items: center; color: white; border-radius: 8px; }">@TempData["changepass"]</div>

}
else
            {
                <div></div>
            }
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form method="post" action="/Admin/Login">
        <h3>Login Here</h3>

        <label for="username">Username</label>
        <input type="text" placeholder="Username" id="username">

        <label for="password">Password</label>
        <input type="password" placeholder="Password" id="password">

        <button type="button" onclick="Adminlogin()">Log In</button>
        <div style="width:100%;text-align:center;font-size:15px;margin-top:20px">  <a href="#" id="forgotPasswordLink" style="text-decoration:none">Forgot Password? </a></div>
    </form>
</body>
<div class="loading-overlay" id="loadingOverlay">
    <div class="loader"></div>
</div>
<div class="l" id="l">
    <div class="ll"></div>
</div>
<script>
    function Adminlogin() {
        var usernamee = document.getElementById("username").value;
        var passwordd = document.getElementById("password").value;
        debugger
        document.getElementById('loadingOverlay').style.display = 'flex';

        $.ajax({
            url: "/Admin/login",
            type: "post",
            data: {
                username: usernamee,
                password: passwordd
            },

            success: function (response) {
                if (response == "True") {
                    swal({
                        title: "Login",
                        text: "Login Success",
                        allowOutsideClick: false,

                    }).then((value) => {
                        if (value) {
                            window.location.replace("https://localhost:44351/Admin/Dashboard");
                        }
                    });
                } else {
                    swal({
                        title: "Login Failed",
                        text: "Try again",
                        icon: "error",

                    });
                }
            },
            error: function (xhr, status, error) {
                console.error(xhr.responseText);
            },
            complete: function () {
                // Hide loading overlay after AJAX call is complete
                document.getElementById('loadingOverlay').style.display = 'none';
            }
        })

    }
</script>
<script>
    document.getElementById('forgotPasswordLink').addEventListener('click', function (event) {
        event.preventDefault(); // Prevent the default behavior of the link

        swal({
            title: "Are you forgot password?",
            text: "You can change password in your mail",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willProceed) => {
                if (willProceed) {
                    swal({
                        title: "Change password in your mail",
                        text: ":))))",
                        timer: 2000,
                        buttons: false,
                    }).then(() => {
                        document.getElementById('l').style.display = 'flex';
                        window.location.href = "/Admin/ForgotPassword";

                    })
                   
                } else {
                    
                }
            });
    });
</script>
