<!DOCTYPE html>
<html lang="en-US">
<!--[if IE]><![endif]-->

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="profile" href="https://gmpg.org/xfn/11" />
    <link rel="stylesheet" href="~/asset/assets/css/style.css">
    <link rel="stylesheet" href="~/asset/assets/css/frontend-lite.min.css">
    <link rel="stylesheet" href="~/asset/assets/css/vendor/jquery.fancybox.css">
    <link rel="stylesheet" href="~/asset/assets/css/vendor/jquery.mCustomScrollbar.css">
    <link rel="stylesheet" href="~/asset/assets/css/vendor/plyr.css">
    <link rel="stylesheet" href="~/asset/assets/css/vendor/slick-theme.css">
    <link rel="stylesheet" href="~/asset/assets/css/vendor/slick.css">
    <link rel="stylesheet" href="~/asset/assets/css/vendor/tooltipster.bundle.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

    <meta name='robots' content='max-image-preview:large' />
</head>

<body class="home page-template page-template-elementor_header_footer page page-id-84 amy-header-default  single-author elementor-default elementor-template-full-width elementor-kit-5 elementor-page elementor-page-84">
    <style>
        .heade {
            background-color: black;
            height: 30px;
            width: 100%;
            padding-left: 100px;
            padding-right: 100px;
            display: flex;
            align-items: center;
            justify-content: end;
            position: fixed;
   
            z-index: 9999;
        }

        .login {
            margin-right: 10px;
            color: aliceblue;
            font-size: 100%;
            font-family: 'Times New Roman', Times, serif;
            font-weight: bold;
            text-decoration: none;
        }

            .login:hover {
                text-decoration: underline;
            }

        .register {
            color: aliceblue;
            font-size: 100%;
            font-family: 'Times New Roman', Times, serif;
            font-weight: bold;
            text-decoration: none;
            border-left: 1px solid;
            padding-left: 10px;
        }

            .register:hover {
                text-decoration: underline;
            }

        .he {
            align-content: center;
            margin-right: 300px;
            height: 30px;
        }
    </style>
    <div class="heade">

        <span class="he">
            <a href="/Client/ViewLogin" class="login"><i class="fa-solid fa-user"></i> Login / Register</a>
           
        </span>

    </div>
    <div id="page" class="hfeed site">




        <header id="masthead" class="site-header header-default  light" style="height: 100px; position: fixed; margin-top: 20px; z-index: 999; width: 100%; height: 100px; background-color: #fffcfa ">
            <div class="container">
                <div class="amy-inner">
                    <div class="amy-left">
                        <div id="amy-site-logo">
                            <a href="http://demo.amytheme.com/movie/demo/elementor-single-cinema/">
                                <img src="~/asset/assets/images/img_66.png"
                                     alt="Elementor Single Cinema" />
                            </a>
                        </div>
                    </div>
                    <div class="amy-right">
                        <nav id="amy-site-nav" class="amy-site-navigation amy-primary-navigation">
                            <div class="menu-mainnav-container">
                                <ul id="menu-mainnav" class="nav-menu">
                                    <li id="menu-item-121"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-84 current_page_item menu-item-121">
                                        <a href="http://demo.amytheme.com/movie/demo/elementor-single-cinema/"
                                           aria-current="page">Home</a>
                                    </li>
                                    <li id="menu-item-276"
                                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-276">
                                        <a href="#">Movie</a>
                                        <ul class="sub-menu">
                                            <li id="menu-item-143"
                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-143">
                                                <a href="http://demo.amytheme.com/movie/demo/elementor-single-cinema/now-playing/">
                                                    Now
                                                    Playing
                                                </a>
                                            </li>
                                            <li id="menu-item-134"
                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-134">
                                                <a href="http://demo.amytheme.com/movie/demo/elementor-single-cinema/coming-soon/">
                                                    Coming
                                                    Soon
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li id="menu-item-277"
                                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-277">
                                        <a href="#">Single Movie</a>
                                        <ul class="sub-menu">
                                            <li id="menu-item-338"
                                                class="menu-item menu-item-type-post_type menu-item-object-amy_movie menu-item-338">
                                                <a href="http://demo.amytheme.com/movie/demo/elementor-single-cinema/movie/kubo-and-the-two-strings/">
                                                    Full
                                                    Width &#038; Banner
                                                </a>
                                            </li>
                                            <li id="menu-item-365"
                                                class="menu-item menu-item-type-post_type menu-item-object-amy_movie menu-item-365">
                                                <a href="http://demo.amytheme.com/movie/demo/elementor-single-cinema/movie/the-girl-with-all-the-gifts/">
                                                    Full
                                                    Width &#038; No Banner
                                                </a>
                                            </li>
                                            <li id="menu-item-340"
                                                class="menu-item menu-item-type-post_type menu-item-object-amy_movie menu-item-340">
                                                <a href="http://demo.amytheme.com/movie/demo/elementor-single-cinema/movie/jumanji-welcome-to-the-jungle/">
                                                    Sidebar
                                                    &#038; Banner
                                                </a>
                                            </li>
                                            <li id="menu-item-366"
                                                class="menu-item menu-item-type-post_type menu-item-object-amy_movie menu-item-366">
                                                <a href="http://demo.amytheme.com/movie/demo/elementor-single-cinema/movie/bad-moms/">
                                                    Sidebar
                                                    &#038; No Banner
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li id="menu-item-278"
                                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-278">
                                        <a href="#">Showtime</a>
                                        <ul class="sub-menu">
                                            <li id="menu-item-140"
                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-140">
                                                <a href="http://demo.amytheme.com/movie/demo/elementor-single-cinema/daily-showtime-layout-list/">
                                                    Daily
                                                    Showtime Layout List
                                                </a>
                                            </li>
                                            <li id="menu-item-137"
                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-137">
                                                <a href="http://demo.amytheme.com/movie/demo/elementor-single-cinema/daily-showtime-ajax/">
                                                    Daily
                                                    Showtime Ajax
                                                </a>
                                            </li>
                                            <li id="menu-item-149"
                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-149">
                                                <a href="http://demo.amytheme.com/movie/demo/elementor-single-cinema/weekly-showtime-ajax/">
                                                    Weekly
                                                    Showtime Ajax
                                                </a>
                                            </li>
                                            <li id="menu-item-152"
                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-152">
                                                <a href="http://demo.amytheme.com/movie/demo/elementor-single-cinema/weekly-showtime-table/">
                                                    Weekly
                                                    Showtime Table
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li id="menu-item-146"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-146">
                                        <a href="http://demo.amytheme.com/movie/demo/elementor-single-cinema/top-rated/">
                                            Top
                                            rated
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                        <div id="amy-menu-toggle"><a><span></span></a></div>
                    </div>
                </div>
            </div>
            <div id="amy-site-header-shadow"></div>
        </header>

        <div id="amy-navigation-mobile">
            <div class="menu-mainnav-container">
                <ul id="menu-mainnav-1" class="menu">
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-84 current_page_item menu-item-121">
                        <a href="http://demo.amytheme.com/movie/demo/elementor-single-cinema/"
                           aria-current="page">Home</a>
                    </li>
                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-276">
                        <a href="#">Movie</a>
                        <ul class="sub-menu">
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-143">
                                <a href="http://demo.amytheme.com/movie/demo/elementor-single-cinema/now-playing/">
                                    Now
                                    Playing
                                </a>
                            </li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-134">
                                <a href="http://demo.amytheme.com/movie/demo/elementor-single-cinema/coming-soon/">
                                    Coming
                                    Soon
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-277">
                        <a href="#">Single Movie</a>
                        <ul class="sub-menu">
                            <li class="menu-item menu-item-type-post_type menu-item-object-amy_movie menu-item-338">
                                <a href="http://demo.amytheme.com/movie/demo/elementor-single-cinema/movie/kubo-and-the-two-strings/">
                                    Full
                                    Width &#038; Banner
                                </a>
                            </li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-amy_movie menu-item-365">
                                <a href="http://demo.amytheme.com/movie/demo/elementor-single-cinema/movie/the-girl-with-all-the-gifts/">
                                    Full
                                    Width &#038; No Banner
                                </a>
                            </li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-amy_movie menu-item-340">
                                <a href="http://demo.amytheme.com/movie/demo/elementor-single-cinema/movie/jumanji-welcome-to-the-jungle/">
                                    Sidebar
                                    &#038; Banner
                                </a>
                            </li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-amy_movie menu-item-366">
                                <a href="http://demo.amytheme.com/movie/demo/elementor-single-cinema/movie/bad-moms/">
                                    Sidebar
                                    &#038; No Banner
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-278">
                        <a href="#">Showtime</a>
                        <ul class="sub-menu">
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-140">
                                <a href="http://demo.amytheme.com/movie/demo/elementor-single-cinema/daily-showtime-layout-list/">
                                    Daily
                                    Showtime Layout List
                                </a>
                            </li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-137">
                                <a href="http://demo.amytheme.com/movie/demo/elementor-single-cinema/daily-showtime-ajax/">
                                    Daily
                                    Showtime Ajax
                                </a>
                            </li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-149">
                                <a href="http://demo.amytheme.com/movie/demo/elementor-single-cinema/weekly-showtime-ajax/">
                                    Weekly
                                    Showtime Ajax
                                </a>
                            </li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-152">
                                <a href="http://demo.amytheme.com/movie/demo/elementor-single-cinema/weekly-showtime-table/">
                                    Weekly
                                    Showtime Table
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-146">
                        <a href="http://demo.amytheme.com/movie/demo/elementor-single-cinema/top-rated/">Top rated</a>
                    </li>
                </ul>
            </div>
        </div>
        <div id="main">
            <div id="content" class="site-content" style="margin-top:120px">

                @RenderBody();

            </div>
        </div>

        <footer id="amy-colophon" class="amy-site-footer">
            <div class="container">
                <div class="amy-footer-widgets">
                    <div class="row">
                        <div class="col-md-3 col-xs-12">
                            <div class="amy-widget amy-widget-module">
                                <div class="amy-widget amy-widget-module about ">
                                    <h4 class="amy-title amy-widget-title"></h4>
                                    <div class="footer-logo">
                                        <a href="http://demo.amytheme.com/movie/demo/elementor-single-cinema/">
                                            <img src="~/asset/assets/images/img_66.png" />
                                        </a>
                                    </div>
                                    <div class="summary">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                                        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                        consequat
                                    </div>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div class="col-md-3 col-xs-12">
                            <div class="amy-widget widget_nav_menu">
                                <div class="amy-widget-title">
                                    <h4>Customer Services</h4>
                                </div>
                                <div class="amy-widget-content">
                                    <ul id="menu-customer-services" class="menu">
                                        <li id="menu-item-346"
                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-84 current_page_item menu-item-346">
                                            <a href="http://demo.amytheme.com/movie/demo/elementor-single-cinema/"
                                               aria-current="page">Home</a>
                                        </li>
                                        <li id="menu-item-347"
                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-347">
                                            <a href="http://demo.amytheme.com/movie/demo/elementor-single-cinema/coming-soon/">
                                                Coming
                                                Soon
                                            </a>
                                        </li>
                                        <li id="menu-item-348"
                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-348">
                                            <a href="http://demo.amytheme.com/movie/demo/elementor-single-cinema/top-rated/">
                                                Top
                                                rated
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div class="col-md-3 col-xs-12">
                            <div class="amy-widget amy-widget-list">
                                <div class="amy-widget amy-widget-list list-post ">
                                    <h4 class="amy-title amy-widget-title">Recent Posts</h4>
                                    <div class="entry-item">
                                        <div class="entry-thumb">
                                            <img src="~/asset/assets/images/img_59-115x85_c.jpg" />
                                        </div>
                                        <div class="entry-content">
                                            <h2 class="entry-title">
                                                <a href="http://demo.amytheme.com/movie/demo/elementor-single-cinema/2022/04/28/six-book-to-film-adaptations-to-get-excited-about-this-autumn/">
                                                    Six
                                                    book-to-film adaptations to get excited about this autumn
                                                </a>
                                            </h2>
                                            <div class="entry-meta">
                                                <span class="entry-date">April 28, 2022</span><span>
                                                    /
                                                </span><span class="entry-comment">0 Comments</span>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="entry-item">
                                        <div class="entry-thumb">
                                            <img src="~/asset/assets/images/img_59-115x85_c.jpg" />
                                        </div>
                                        <div class="entry-content">
                                            <h2 class="entry-title">
                                                <a href="http://demo.amytheme.com/movie/demo/elementor-single-cinema/2022/04/28/the-beatles-eight-days-a-week-the-touring/">
                                                    The
                                                    Beatles: Eight Days a Week – The Touring
                                                </a>
                                            </h2>
                                            <div class="entry-meta">
                                                <span class="entry-date">April 28, 2022</span><span>
                                                    /
                                                </span><span class="entry-comment">0 Comments</span>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div class="col-md-3 col-xs-12">
                            <div class="amy-widget amy-widget-module">
                                <div class="amy-widget amy-widget-module contact ">
                                    <h4 class="amy-title amy-widget-title">Contact Us</h4>
                                    <div class="address">
                                        <i class="fa fa-location-arrow" aria-hidden="true"></i>9067
                                        Zurich, Switzerland 87
                                    </div>
                                    <div class="email">
                                        <i class="fa fa-envelope-o" aria-hidden="true"></i>abc@gmail.com
                                    </div>
                                    <div class="phone"><i class="fa fa-phone" aria-hidden="true"></i>01-234-5678</div>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <div id="amy-copyright" class="amy-copyright">
            <div class="container">
                <div class="amy-inner">
                    <div class="amy-copyright-left pull-left">

                        <ul class="amy-social-list">
                            <li><a href="#" class="fa fa-facebook"></a></li>
                            <li><a href="#" class="fa fa-twitter"></a></li>
                            <li><a href="#" class="fab fa-linkedin"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
   

</body>

</html>