
@{
    ViewBag.Title = "Changepassword";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
<style>
    body {
        font-family: Arial, sans-serif;
    }

    .formviet {
        width: 40%;
        justify-content: start;
        margin-top: 20px
    }

    .tabs {
        display: flex;
        width: 100%;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        overflow: hidden;
    }

    .tab {
        width: 50%;
        padding: 10px 30px;
        cursor: pointer;
        background-color: #ffffff;
        color: #ff6200;
        transition: background-color 0.3s, color 0.3s;
        text-align: center;
    }

        .tab.active {
            background-color: #ff6200;
            color: #fff;
        }

    .form-container {
        width: 100%;
        background-color: #fff;
        padding: 40px;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    }

        .form-container h2 {
            text-align: center;
            margin-bottom: 30px;
            color: #ff6200;
        }

        .form-container input[type="radio"] {
            border: 0.2rem solid #fff;
            background-color: #e8e8e8;
            border-radius: 50%;
        }

        .form-container input[type="text"],
        .form-container input[type="password"],
        .form-container input[type="date"] {
            padding: 15px;
            margin-bottom: 20px;
            border: 1px solid #ddd;
            border-radius: 5px;
            border: none;
            box-shadow: rgba(255, 60, 0, 0.4) 0px 2px 4px, rgba(212, 149, 149, 0.3) 0px 7px 13px -3px, rgba(255, 0, 0, 0.2) 0px -3px 0px inset;
        }

        .form-container button {
            width: 40%;
            padding: 15px;
            background-color: #ff6200;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s, color 0.3s;
        }

            .form-container button:hover {
                background-color: #e65800;
            }

        .form-container form {
            display: none;
        }

            .form-container form.active {
                display: block;
            }

    *:focus {
        outline: none;
    }

    .carousel {
        position: relative;
        width: 270px;
        height: 350px;
        overflow: hidden;
        background-color: #cdcdcd;
        margin-left: 20px;
        margin-top: 20px
    }

    .carousel-item .slide-image {
        width: 270px;
        height: 350px;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .carousel-item {
        position: absolute;
        width: 100%;
        height: 270px;
        border: none;
        top: 0;
        left: 100%;
    }

        .carousel-item.active {
            left: 0;
            transition: all 0.3s ease-out;
        }

        .carousel-item div {
            height: 100%;
        }

    .red {
        background-color: red;
    }

    .green {
        background-color: green;
    }

    .yellow {
        background-color: yellow;
    }

    .violet {
        background-color: violet;
    }

    input[type="radio"] {
        display: none;
    }

        /* Style the custom radio button */
        input[type="radio"] + label {
            position: relative;
            padding-left: 25px; /* Adjust according to your design */
            cursor: pointer;
        }

            /* Style the radio button indicator */
            input[type="radio"] + label:before {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: 15px; /* Adjust according to your design */
                height: 15px; /* Adjust according to your design */
                border: 1px solid orangered; /* Adjust according to your design */
                border-radius: 50%;
            }

        /* Style the radio button indicator when checked */
        input[type="radio"]:checked + label:before {
            background-color: orangered; /* Adjust according to your design */
        }

        /* Optional: Add hover effect */
        input[type="radio"] + label:hover:before {
            border-color: orangered; /* Adjust according to your design */
        }

    .ll {
        height: 15px;
        aspect-ratio: 5;
        display: grid;
        animation: l39-0 1s infinite linear;
    }

        .ll:before,
        .ll:after {
            content: "";
            width: calc(140%/3);
            grid-area: 1/1;
            --_g: no-repeat radial-gradient(farthest-side,#000 94%,#0000);
            background: var(--_g) left, var(--_g) right;
            background-size: calc(300%/7) 100%;
            animation: l39-1 1s infinite linear;
        }

        .ll:after {
            margin-left: auto;
            --s: -1;
        }

    @@keyframes l39-0 {
        0%, 30% {
            transform: rotate(0)
        }

        50%, 100% {
            transform: rotate(.5turn)
        }
    }

    @@keyframes l39-1 {
        30%, 70% {
            transform: translate(calc(var(--s,1)*400%/14))
        }
    }

    .l {
        display: none;
        justify-content: center;
        align-items: center;
        background-color: rgba(0,0,0,0.5);
        height: 700px;
        width: 100%;
        position: absolute;
        top: 0;
        z-index: 9999;
    }
</style>

<div style="display:flex;justify-content:center;align-items:center">
    <div id="formforgot" class="form-container" style="display:flex;width:30%;justify-content:center;align-items:center">

        <form class="active" action="/Client/Changepass" method="post"  onsubmit="return validateForm()">
            <h2>Input New Pasword</h2>
            <input name="token" value="@TempData["token"]" type="hidden" />
            <input name="email" value="@TempData["email"]" type="hidden" />
            <div style="margin: 10px 0px; font-size: 17px; color: #b3b3b3; font-weight: bold;">Password: </div>
            <input name="newpassword" id="newPassword" type="password" required />
            <div style="margin: 10px 0px; font-size: 17px; color: #b3b3b3; font-weight: bold;">Password Confirm: </div>
            <input name="newpasswordconfirm" id="confirmPassword" type="password" required />
            
            <div style="width:100%;text-align:center"> <button type="submit" onclick="validateForm()" id="newpass">Save</button></div>

        </form>
    </div>
</div>

    <script>
        function validateForm() {
        var newPassword = document.getElementById("newPassword").value;
        var confirmPassword = document.getElementById("confirmPassword").value;

        if (newPassword != confirmPassword) {
            alert("Passwords do not match!");
        return false;
        }
        return true;
    }
</script> 
