
@{
    ViewBag.Title = "AddnewCity";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model List<MovieTicketBooking.Models.City>

<button class="btn btn-primary btn-xs" style="margin-left: 15px; margin-bottom: 10px;" onclick="myFunction()">Add City </button>

<div class="col-md-6 col-12" id="myDIV" style="display: none;">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Add Category</h4>

        </div>
        <div class="card-content">
            <div class="card-body">
                <form class="form form-horizontal" method="post" action="/Theater/Insertcity">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-4">
                                <label> Name City</label>
                            </div>
                            <div class="col-md-8 form-group">
                                <input type="text" id="first-name" class="form-control" name="name"
                                       placeholder="Name City" required>
                            </div>


                            <div class="col-sm-12 d-flex justify-content-end">
                                <button type="submit" class="btn btn-primary me-1 mb-1">Submit</button>
                                <button type="reset" class="btn btn-light-secondary me-1 mb-1">Reset</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="col-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">List City</h4>
        </div>
        <div class="card-content">

            <!-- table bordered -->
            <div class="table-responsive">
                <table class="table table-bordered mb-0">
                    <thead>
                        <tr>
                            <th>NO</th>
                            <th>NAME</th>
                            <th>EDIT</th>

                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.Count; i++)
                        {


                            <tr>
                                <td>@(i+1)</td>
                                <td> <i class="fa-solid fa-caret-down"></i> @Model[i].title_city</td>

                                <td style="text-align: center;">
                                    <a href="@Url.Action("Editc","Admin")?idc=@Model[i].id_city" style="color: rgb(220, 227, 15);"><i class="fa-regular fa-pen-to-square" style="font-size: initial;"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    function myFunction() {
        var x = document.getElementById("myDIV");
        var y = document.getElementById("myDI");
        var e = document.getElementById("e");
        var a = document.getElementById("a");
        if (x.style.display === "none") {
            x.style.display = "block";
            y.style.display = "none";
            e.style.backgroundColor = "#4B9FDB";
            a.style.backgroundColor = "#D5E0F0";
            e.style.color = "#000000";
            a.style.color = "#C2C4CC";

        } else {
            x.style.display = "none";
            y.style.display = "block";
            a.style.backgroundColor = "#4B9FDB";
            e.style.backgroundColor = "#D5E0F0";
            a.style.color = "#000000";
            e.style.color = "#C2C4CC";
        }
    }
</script>
